@import url("./fonts.css");
@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */

@theme {
  --color-test: #21caff;
  --font-instrument-sans: "InstrumentSans", sans-serif;
  --font-instrument-serif: "InstrumentSerif", serif;
}

@layer base {
  body {
    @apply bg-stone-900 text-stone-300 antialiased font-instrument-sans;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(1em);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}
