---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Archi's corner | Home">
  <main>
    <header>
      <h1>Hi, my name is Arek Chwedczuk</h1>
      <p>and this is my swamp.</p>
    </header>
    <section>
      <header>
        <h2>About</h2>
        <p>A few things you should know before trespassing here. .</p>
      </header>
      <article>
        <header>
          <h3>What I do</h3>
        </header>
        <p>I code, I design, I write. I sing.</p>
        <p>
          I work at <a href="https://nfustudio.com/en" rel="noopener noreferrer"
            >NFU</a
          >.
        </p>
      </article>
      <article>
        <header>
          <h3>Where are we?</h3>
        </header>
        <p>
          I figured out that putting stuff ANYWHERE publicly will make it last a
          little longer. Moreover I can access it outside my head, so...
        </p>
        <p>Let's see what I can do.</p>
      </article>
    </section>
  </main>
  <footer>
    <a href="https://github.com/Archi711">
      GitHub
      <span class="sr-only">GitHub</span>
    </a>
    <p>
      I don't feel like adding more stuff <span class="italic font-medium"
        >here</span
      > right now.
    </p>
    <p>
      I guess you can <a
        href="https://github.com/Archi711/personal-site/issues/new"
        >create an issue</a
      > or something if that's a problem.
    </p>
  </footer>
</Layout>

<style>
  main > * {
    opacity: 0;
    animation: appear 500ms ease-out forwards;
  }
  main > *:nth-child(1) {
    animation-delay: 200ms;
  }
  main > *:nth-child(2) {
    animation-delay: 300ms;
  }

  main {
    @apply flex px-4 flex-col gap-8 max-w-2xl mx-auto justify-center pt-12 lg:pt-24 font-serif text-2xl;
  }
  /* I will probably make some components for this */
  h1 {
    @apply text-6xl  font-serif;
  }
  h1 + p {
    @apply text-stone-500 italic mt-1;
  }

  section {
    @apply flex flex-col gap-4;
  }

  h2 {
    @apply text-5xl;
  }
  h2 + p {
    @apply text-stone-500;
  }

  article {
    @apply flex flex-col gap-1;
  }

  h3 {
    @apply text-4xl;
  }
  article > p {
    @apply text-stone-500;
  }

  footer {
    @apply flex gap-2 mt-auto py-8 text-sm items-center justify-center flex-col text-stone-400;
  }
  a {
    @apply text-indigo-400 hover:underline;
  }
</style>
