---
import { navData } from "@/data/nav";
---

<header
  class:list={[
    "fixed border-b border-stone-800 bg-stone-800/50 -top-20 z-35",
    "flex items-center h-20 justify-between w-full px-rws",
  ]}>
  <nav class="">
    <a
      href="/"
      class="p-2 bg-stone-100/5 size-12 items-center justify-center flex rounded-full">
      <span class="text-4xl font-instrument-serif">A</span>
      <span class="sr-only">Home page</span>
    </a>
  </nav>
  <nav
    data-nav
    class="bg-stone-100/5 overflow-clip relative backdrop-blur-2xl rounded-full">
    <div class="absolute -top-8 left-0 bg-amber-300 h-4 w-1/2 z-0 blur-xl">
    </div>
    <span
      class="flex pointer-events-none shadow-inner shadow-sky-400/5 rounded-full h-full w-0 bg-stone-100/5 absolute top-0 left-0"
    ></span>
    {
      navData.map((item) => (
        <a
          href={item.href}
          class="px-6 hover:text-stone-50 text-sm uppercase tracking-tighter font-extralight rounded-full py-2 inline-flex shrink-0">
          {item.label}
        </a>
      ))
    }
  </nav>
</header>

<script>
  import { dqsl, dqsla } from "@/lib/utils";
  import { animate } from "motion";
  function main() {
    const nav = dqsl("[data-nav]");
    if (!nav) return;
    const navItems = dqsla("[data-nav] a");
    const indicator = nav.querySelector("span");
    if (!indicator) return;
    animate(
      nav.parentElement!,
      {
        y: "80px",
      },
      {
        type: "tween",
        duration: 0.4,
        delay: 0.7,
      },
    );
    nav.addEventListener("mouseleave", () => {
      animate(
        indicator,
        {
          scale: 0,
        },
        {
          duration: 0.25,
          type: "spring",
          bounce: 0.1,
        },
      );
    });
    for (const a of navItems) {
      a.addEventListener("mouseenter", () => {
        animate(
          indicator,
          {
            x: a.offsetLeft,
            scale: 1,
            width: a.offsetWidth,
          },
          {
            duration: 0.25,
            type: "spring",
            bounce: 0.1,
          },
        );
      });
    }
  }
  main();
</script>
