---
import "@/styles/global.css";

interface Props {
  lang?: "pl" | "en"; // no suprise.
}

const { lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang} dir="ltr">
  <slot name="head" />
  <body>
    <slot />
  </body>
</html>
